{% comment %} <svg class="cart-icon-bubble-svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
  <circle class="cart-icon-bubble-svg__bg-circle" cx="16" cy="16" r="16" ></circle>
  <circle class="cart-icon-bubble-svg__progress-circle" cx="16" cy="16" r="16"></circle>
</svg> {% endcomment %}
<div class="cart-icon" style="position:absolute; z-index:0;">
<svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.0117 3.9498C29.9764 3.9498 29.9764 3.9498 30.0117 3.9498H7.51174L6.10108 0.916896C5.85426 0.352664 5.2899 0 4.69043 0H0V1.41065H4.69043C4.76091 1.41065 4.79627 1.4459 4.83152 1.5165L12.2022 17.5274C12.2022 17.5627 12.2374 17.5979 12.2374 17.6333C12.2374 17.6685 12.2374 17.7038 12.2022 17.7391L10.9326 20.4546C10.6152 21.1247 10.6152 21.6889 10.8974 22.112C11.3205 22.7821 12.2022 22.8526 13.1192 22.8526H13.1545L28.848 22.8174V21.4067L13.1192 21.4418C12.4491 21.4418 12.2023 21.3713 12.0964 21.336C12.0964 21.2655 12.1317 21.1949 12.2023 21.0186L13.4719 18.3031V18.2679H25.674C27.0142 18.2679 28.2131 17.4567 28.848 16.1871L32.8684 9.31018V9.27493C33.4678 8.07585 33.3974 6.62996 32.692 5.50143C32.0926 4.51392 31.105 3.94968 30.0118 3.94968L30.0117 3.9498ZM23.699 5.36046V10.4035L17.3511 10.4034V5.36034L23.699 5.36046ZM15.9404 5.36046V10.4035L10.4741 10.4034L8.1818 5.36034L15.9404 5.36046ZM13.4718 16.8573L11.1442 11.8142H15.9404V16.8573H13.4718ZM17.3511 16.8573V11.8142H23.699V16.8573H17.3511ZM27.6488 15.5171L27.6136 15.5524C27.2257 16.3635 26.4851 16.8572 25.6739 16.8572L25.1097 16.8573V11.8142H29.8001L27.6488 15.5171ZM31.6339 8.64017L30.6112 10.4035H25.1096V5.3604H29.9764C30.5759 5.3604 31.1402 5.67783 31.4929 6.2773C31.9513 6.98262 31.9865 7.86428 31.6339 8.64008L31.6339 8.64017Z" fill="black"/>
<path d="M14.8472 29.1653C15.5878 29.1653 16.2931 28.8831 16.8221 28.3541C17.3511 27.8251 17.6333 27.1197 17.6333 26.3792C17.6333 25.6386 17.3511 24.9333 16.8221 24.4043C16.2931 23.8753 15.5878 23.5931 14.8472 23.5931C13.2955 23.5931 12.0612 24.8627 12.0612 26.3792C12.0612 27.1197 12.3433 27.8251 12.8723 28.3541C13.4014 28.8831 14.0713 29.1653 14.8472 29.1653ZM13.4366 26.3792C13.4366 25.6034 14.036 25.0038 14.812 25.0038C15.1647 25.0038 15.5173 25.1449 15.7995 25.3917C16.0463 25.6385 16.2226 25.9911 16.2226 26.3792C16.2226 27.155 15.6232 27.7546 14.8472 27.7546C14.4946 27.7546 14.1419 27.6135 13.8597 27.3667C13.5776 27.0845 13.4366 26.7318 13.4366 26.3792Z" fill="black"/>
<path d="M25.2507 29.13C26.8024 29.13 28.0367 27.8604 28.0367 26.3439C28.0367 25.6034 27.7546 24.898 27.2256 24.369C26.6966 23.84 25.9912 23.5578 25.2507 23.5578C24.5101 23.5578 23.8048 23.84 23.2758 24.369C22.7468 24.898 22.4646 25.6034 22.4646 26.3439C22.4646 27.8603 23.6989 29.13 25.2507 29.13ZM23.8753 26.3439C23.8753 25.9913 24.0163 25.6386 24.2632 25.3564C24.51 25.1096 24.8626 24.9333 25.2507 24.9333C26.0265 24.9333 26.6261 25.5681 26.6261 26.3087C26.6261 27.0845 26.0266 27.6841 25.2507 27.6841C24.4748 27.7193 23.8753 27.0845 23.8753 26.3439Z" fill="black"/>
</svg>
</div>

<span class="visually-hidden">{{ 'general.cart.view' | t }}</span>
<div class="cart-count-bubble">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true">{{ cart.item_count }}</span>
  {%- else -%}
    <span aria-hidden="true">99+</span>
  {%- endif -%}
  <span class="visually-hidden">{{- 'sections.header.cart_count' | t: count: cart.item_count -}}</span>
</div>