
<a href="{{ product.url }}" class="cro-product-card">
  <div class="card-title-cro h2">{{ product.title }}</div>
  <div class="card-img">
    <img src="{{ product.featured_image | image_url }}">
  </div>
  <div class="product-view-btn">
    View Product
  </div>
</a>